a{
  text-decoration: none;
  color: black;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: 105px;
    flex-direction: row;
    margin-bottom: 5px;
    background-color:rgb(191, 190, 192);
    border: 2px;
    border-style: solid;
    margin-left: 5px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: azure;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .picw100px{
      max-width: 100px;
  }