ul {
    list-style-type: none;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
  }

li{
    max-width: 600px;
    min-width: 600px;
}

a{
  text-decoration: none;
  color: black;
}
span{
    margin-left: 100px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 600px;
    height: 105px;
    flex-direction: row;
    margin-bottom: 5px;
    background-color:rgb(191, 190, 192);
    border: 2px;
    border-style: solid;
    margin-left: 5px;
  }

  .flex-wrap{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: azure;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .picw100px{
      max-width: 100px;
  }